<form [formGroup]="addKindergartenForm" (ngSubmit)="onSubmit()">
    <h2>Ihr Kindergarten anmelden!</h2>
    <input placeholder="Name" type="input" formControlName="name"><br />
    <input placeholder="Adresse" type="input" formControlName="address"><br />
    <input placeholder="Betreiber" type="input" formControlName="betreiber"><br />
    <input placeholder="Type" type="input" formControlName="typ"><br />
    <input placeholder="verfügbare Plätze" type="input" formControlName="availablePlaces"><br />
    <input type="file" name="file" id="file" (change)="onFileChanged($event)" accept="image/*" />
    <button type="submit">Erfassen</button>
</form>
